#iframeContainer {
    top: 40%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
  }
  
  #contentFrame {
    flex-grow: 1;
    border: none;
  }
  
  .btn-secundary {
  
    background-color: rgba(255, 0, 0, 0.757);
  }
  
  .btn-primary {
    background-color: rgba(0, 0, 255, 0.702);
  }
  
  .new {
    position: relative;
    float: right;
    height: 43px;
    color: rgb(0, 105, 128);
  }
  
  
  #iframeContainer {
    width: 100%;
  
  }
  
  #iframeContainer .iframe {
    width: 100%;
    border: none;
  }
  
  
  /*MODAL FORMULARIO*/
  
  .btn-close {
    background-color: blue;
  }
  
  button[name="btnAgregar"]:hover {
    /* Estilos al pasar el mouse sobre el botón */
    background-color: #1ed30e;
    /* Color de fondo más oscuro */
  }
  
  button[name="btnCloced"]:hover {
    background-color: red;
  }
  
  .ui-autocomplete {
    z-index: 9999 !important;
  }

  /*NAVBAR*/


  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 230px;
    background: #333;
    color: #fff;
    height: 100%;
    padding: 10px; /* Padding added for spacing */
}

.sidebar h1.title {
    border-bottom: 2px solid #666; /* Adds a line under the title */
    padding-bottom: 10px; /* Spacing between the title text and the line */
    margin-bottom: 20px; /* Spacing between the line and the first link */
}

.sidebar a {
    padding: 15px;
    display: block;
    color: white;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.sidebar a:hover {
    background: #266c7e;
}

.content {
    flex-grow: 1;
    padding: 20px; /* Adds padding inside the content area */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

  /*NAVBARFIN*/