#iframeContainer {
    top: 40%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
  }
  
  #contentFrame {
    flex-grow: 1;
    border: none;
  }
  
  .btn-secundary {
  
    background-color: rgba(255, 0, 0, 0.757);
  }
  
  .btn-primary {
    background-color: rgba(0, 0, 255, 0.702);
  }
  
  .new {
    position: relative;
    float: right;
    height: 43px;
    color: rgb(0, 105, 128);
  }
  
  
  #iframeContainer {
    width: 100%;
  
  }
  
  #iframeContainer .iframe {
    width: 100%;
    border: none;
  }
  
  
  /*MODAL FORMULARIO*/
  
  .btn-close {
    background-color: blue;
  }
  
  button[name="btnAgregar"]:hover {
    /* Estilos al pasar el mouse sobre el botón */
    background-color: #1ed30e;
    /* Color de fondo más oscuro */
  }
  
  button[name="btnCloced"]:hover {
    background-color: red;
  }
  
  .ui-autocomplete {
    z-index: 9999 !important;
  }

  /*NAVBAR*/


  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 230px;
    background: #333;
    color: #fff;
    height: 100%;
    padding: 10px; /* Padding added for spacing */
}

.sidebar h1.title {
    border-bottom: 2px solid #666; /* Adds a line under the title */
    padding-bottom: 10px; /* Spacing between the title text and the line */
    margin-bottom: 20px; /* Spacing between the line and the first link */
}

.sidebar a {
    padding: 15px;
    display: block;
    color: white;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.sidebar a:hover {
    background: #266c7e;
}

.content {
    flex-grow: 1;
    padding: 20px; /* Adds padding inside the content area */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.spinner-border {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

  /*NAVBARFIN*/

  body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.dashboard-container {
    display: flex;
    flex-direction: column; /* Orientación vertical para el contenedor principal */
    align-items: center;
    padding: 20px;
}

.metrics-row {
    display: flex; /* Flexbox para la fila de métricas */
    justify-content: space-between; /* Distribuye el espacio uniformemente */
    width: 100%; /* Asegura que tome todo el ancho disponible */
    max-width: 1200px; /* Máximo ancho de la fila */
    margin-bottom: 20px; /* Espacio entre la fila de métricas y la tabla */
}

.metric {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 10px;
    width: calc(33.333% - 22px); /* Divide el espacio por tres y ajusta según el margen */
    box-shadow: 2px 2px 10px #ccc;
    color: white;
}

.clientes {
    background-color: #007BFF; /* Azul */
}

.ventas {
    background-color: #28A745; /* Verde */
}

.productos {
    background-color: #DC3545; /* Rojo */
}

.metric img {
    width: 50px;
    margin-top: 10px;
}

.metric.list {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho de la tabla */
    background-color: #6C757D; /* Gris */
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #343A40; /* Casi negro */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
