<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Panel de Control</title>
<link rel="stylesheet" href="../assets/css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1 class="title">Shoes Store</h1>
            <a href="#" onclick="changeIframeSrc('Clientes.html')"><i class="bi bi-person-fill"></i> Clientes</a>
            <a href="#" onclick="changeIframeSrc('Productos.html')"><i class="bi bi-cart"></i> Productos</a>
            <a href="#" onclick="changeIframeSrc('Ventas.html')"><i class="bi bi-wallet-fill"></i> Ventas</a>
            <a href="#" onclick="changeIframeSrc('DescripcionVentas.html')"><i class="bi bi-bar-chart-fill"></i> Descripcion de Ventas</a>
        </div>
        <div id="loadingIndicator" style="display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); justify-content: center; align-items: center; z-index: 100;">
            <div class="flex-col gap-4 w-full flex items-center justify-center">
              <div class="w-28 h-28 border-8 text-blue-400 text-4xl animate-spin border-gray-300 flex items-center justify-center border-t-blue-400 rounded-full">
                <svg viewBox="0 0 24 24" fill="currentColor" height="1em" width="1em" class="animate-ping">
                  <path d="M12.001 4.8c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624C13.666 10.618 15.027 12 18.001 12c3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C16.337 6.182 14.976 4.8 12.001 4.8zm-6 7.2c-3.2 0-5.2 1.6-6 4.8 1.2-1.6 2.6-2.2 4.2-1.8.913.228 1.565.89 2.288 1.624 1.177 1.194 2.538 2.576 5.512 2.576 3.2 0 5.2-1.6 6-4.8-1.2 1.6-2.6 2.2-4.2 1.8-.913-.228-1.565-.89-2.288-1.624C10.337 13.382 8.976 12 6.001 12z"></path>
                </svg>
              </div>
            </div>
        </div>
        <iframe id="contentFrame" src="Clientes.html" width="100%" height="100%" onload="hideLoadingIndicator()"></iframe>
    </div>
    <script src="/js/Navbar.js"></script>
</body>
</html>
